@model IEnumerable<DomainLayerCore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success " asp-action="Create" > Create New</a>
</p>
@if (Model.Count()==0)
{
   <h1 class="text-xl-center text-success"> No Product Available</h1> 
}
else{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Category
            </th>
            <th>
                Image Of Product
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.Name)
            </td>
                @if (item.HomeImageUrl != "")
                {
                    <td><img src="~/Images/@item.HomeImageUrl" class="rounded img-fluid" width="150" height="100" /></td>
                }
                else
                {
                    <td><img src="~/Images/noimage.png" class="rounded img-fluid" width="150" height="100" /></td>
                }
                
               
            
            <td>
                    <a class="btn btn-outline-secondary " asp-action="Edit" asp-route-id="@item.Id"> Edit</a>
                    @* <a class="btn btn-outline-primary " asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                    <a class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}